.react-calendar {
    width: 100%;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.react-calendar__navigation__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 13px;
}

div.react-calendar__month-view__weekdays__weekday,
button.react-calendar__tile {
    padding: 8px 0 8px 0;
    transition: background-color 0.08s ease-in-out; 
}

button.react-calendar__tile:hover {
    background-color: rgb(96 165 250);
}

button.react-calendar__navigation__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.react-calendar__navigation__label__labelText {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.react-calendar__month-view__days {
    font-size: 13px;
}

.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.5;
}

button.react-calendar__month-view__days__day--weekend {
    color: rgb(187, 12, 12);
}

.react-calendar__month-view__weekdays {
    font-size: 12px;
}

button.react-calendar__tile--active {
    background-color: #3b82f6;
    color: whitesmoke;
}